@page
@model MinWebbplats.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>Om sidan</h1>
<p>Denna sida är gjord av joel student på mittuniversitetet. <br /> Webbplatsen är gjord som uppgift till moment 1 i kursen Webbutveckling med.NET. </p>