@page
@model MinWebbplats.Pages.IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<h2>Startsida</h2>
<h3>Konstig fakta:</h3>
  <br />
<section class="section1">
<div class="title">
Playing dance music can help ward off mosquitoes.</div>
<p>"Playing electronic dance music (EDM) could be just what you need to scare away those pesky mosquitoes in the summer. <br />  
    According to one 2019 study published in the journal Acta Topica, the Skrillex song "Scary Monsters and Nice Sprites" combines "very high and very low frequencies" as well as "excessive loudness and constantly escalating pitch" that discourages the yellow fever mosquito from biting victims and mating." - <a href="https://bestlifeonline.com/useless-facts/"> BestLife</a> </p> 
  </section>
    <br />

    <section class="section1">
<div class="title">A Greek-Canadian man invented the "Hawaiian" pizza.</div>
<p>"There will always be fierce debates over whether or not pineapple has any place on a pizza, but there's no question about where the Hawaiian pizza originally came from: Chatham, Ontario, Canada! Restaurant owner Sam Panopoulos was born in Greece but moved to Canada when he was 20 years old. And in 1962, the entrepreneur decided to put pineapple on pizza. <br />
Panopoulos, who passed away in 2017, once told the BBC, "We just put it on, just for the fun of it, see how it was going to taste. We were young in the business and we were doing a lot of experiments." The name apparently came from the brand of canned pineapple that Panopoulos used on that fateful day he invented the Hawaiian pizza." - <a href="https://bestlifeonline.com/useless-facts/"> BestLife</a>  </p>
</section>